* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    font-family: Roboto, Verdana, sans-serif;
    padding-bottom: 80px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo,
.awesome {
    padding: 30px 120px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 18px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

.awesome {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.awesome-button {
    max-width: 400px;
    padding-right: 60px;
}

.website-awesome {
    font-size: 48px;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 12px 0;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
}

.info {
    padding: 72px 0;
}

.info, 
.random {
    text-align: center;    
}

.random {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-bottom: 32px;
}

.photos {
    display: flex;
    justify-content: center;
    margin: 0 220px;
    gap: 12px;

}

.some {
    margin-top: 12px;
    padding: 0 40px;
}

.quote {
    background-color: #E5E7EB;
    text-align: left;
    padding: 24px 280px;
}

.inspiring-quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}

.quote .thor {
    text-align: right;
    font-size: 22px;
    font-weight: 800;
    padding: 12px 0;
}

.action {
    background-color: #3882F6;
    margin: 48px 136px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 24px 72px;
}

.call {
    font-size: 18px;
    font-weight: bold;
}

.action-button {
    border: 3px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: #F9FAF8;
    padding: 4px 24px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 22px;
}